@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Pacifico&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  animation: fadeIn 2s ease-in-out;


}

/* creating a medeai qiesry fore the screens smaller than 600px */
@media screen and (max-width: 600px) {
  .footer {
    bottom: -1000px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    bottom: -1500px;
  }
}



.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer p {
  margin: 0;
  font-size: 1.2em;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #3498db;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}