.navbar {
  width: 100%;
  padding: 1rem 0;
  background-color: #333;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-item {
  margin: 0 1rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-item a:hover {
  text-decoration: underline;
}