.step-counter {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}