/* App.css */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

body.auth-background {
  background-image: url('/images/Register.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dashboard-background {
  background-image: url('/images/DASHBOARD.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}