* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* Prevent horizontal scroll */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  overflow-y: auto;
  /* Allow vertical scroll */
}

