body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  overflow: hidden;
}